@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f5f6fa;
}

h1 {
  font-size: 1.875rem;
  font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.25rem;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  margin-bottom: 1.813rem;
}

.logo-div {
  display: flex;
  align-items: center;
  gap: 40px;
}

header nav a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: blue;
}

.logo {
  width: 100px;
}

/*Rocket cards css*/
.rocket-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: block;
  width: 100%;
}

.card-body {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-image {
  width: 300px;
  flex-shrink: 0;
}

.card-content {
  flex-grow: 1;
}

.card-button {
  margin-top: 10px;
}

/* Missions Table */

.status-column {
  width: 150px; 
}

.action-column {
  width: 150px; 
}

